<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Inventory</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <form action="<%= locals.category ? "/category/edit?n=" + category.id : "/category/new" %>" method="post">
      <%if (locals.category?.id) {%><input name="id" type="hidden" value="<%= locals.category?.id %>"><%}%>
      <div class="form-control">
        <label for="category-name">Name:</label>
        <input type="text" name="name" id="category-name" value="<%= locals.category?.name %>" required/>
      </div>

      <div class="form-control">
        <label for="category-description">Description:</label>
        <textarea name="description" id="category-description"><%= locals.category?.description %></textarea>
      </div>

      <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required/>
      </div>

      <a href="<%= locals.category ? "/category?q=" + category.id : "/" %>">
        <button type="button">Back</button>
      </a>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
