<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Inventory</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Add <%= options.type %> to <%= parent.type %></h1>
    <form action="/item-category/new" method="post">
      <input type="hidden" name="parentId" value="<%= parent.id %>" />
      <input type="hidden" name="parentType" value="<%= parent.type %>" />

      <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>

      <div class="form-control">
        <label for="<%= options.type %>">Select <%= options.type %></label>
        <select name="selectedIds" id="<%= options.type %>" multiple required>
          <option value=""></option>
          <% options.list.forEach( option => { %>
          <option value="<%= option.id %>"><%= option.name %></option>
          <% }); %>
        </select>
      </div>

      <a href="/"><button type="button">Home</button></a>
      <button type="submit">Add to <%= parent.type %></button>
    </form>
  </body>
</html>
