<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Inventory</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="item-card">
      <h1><%=item.name%></h2>
      <p><%=item.description%></p>
      <p><%=item.price%></p>
      <p><%=item.inventory%></p>
    </div>
    <a href="/"><button type="button">Home</button></a>
    <button type="button">Edit</button>
    <div class="categories">
      <h2>Categor<%= categories.length === 1 ? "y" : "ies"%>:</h2>
      <%- include("category-list", {categories}); %>
    </div>
  </body>
</html>
