<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Inventory</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="category-card">
      <h1><%=category.name%></h1>
      <p><%=category.description%></p>
    </div>

    <a href="/"><button type="button">Home</button></a>
    <a href="/category/edit?n=<%= category.id %>">
      <button type="button">Edit</button>
    </a>

    <div class="items">
      <h2>Item<% if (items.length !== 1) { %>s<% } %>:</h2>

      <%- include("item-list", {items}); %>

      <a
        href="/item-category/new?recieverId=<%= category.id %>&recieverType=category&optionsType=items"
      >
        <button type="button">+</button>
      </a>
    </div>
  </body>
</html>
